.album-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000; /* corrigido */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* corrigida */
    gap: 16px;
    padding: 20px;
}

.album-item {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2 10px rgba(0, 0, 0, 0.1);
}

.album-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.album-item h2 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}